#form-login
{
    height:400px; 
    width:300px;
    position:absolute; 
    font-family:Verdana, Arial, Helvetica, sans-serif, "Microsoft Sans Serif"; 
    font-size:14px;
    color:#000000; 
    top:100px; 
    left:370px;
}

#field-login,#field-password
{
    width:295px; 
    height:24px; 
    font-size:14px;
}

#remember-me-container
{
    height: 25px;
    width: 60%;
    text-align: center;
    vertical-align: middle;
}

#field-remember,#lable-remember
{
    display: inline;
}

#button-login-container
{
    width: 40%;
    text-align: center;
}

#button-login
{
    font-size:14px;
    height:30px; 
    width: 80px;
}

#recover-password-container
{
    text-align: center;    
}

#recover-password-link
{
    text-align: center;    
}

.row
{
    width:300px;
}

.error-message
{
    width:300px; 
    text-align: center;
    font-size:14px;
    color:#FF0000
}