#formLogin
{
    height:400px; 
    width:300px;
    position:absolute; 
    font-family:Verdana, Arial, Helvetica, sans-serif, "Microsoft Sans Serif"; 
    font-size:14px;
    color:#000000; 
    top:100px; 
    left:370px;
}

#fieldLogin,#fieldPassword
{
    width:295px; 
    height:24px; 
    font-size:14px;
}

#rememberMeContainer
{
    display: table-cell;
    height: 25px;
    vertical-align: middle;
}

#fieldRemember,#lableRemember
{
}

#buttonLogin
{
    font-size:14px;
    height:30px; 
    width: 80px;
    float:right;
}

#linkRecoverPassword
{
    display: table-cell;
    text-align: center;
}

.row
{
    width:300px;
    display: table;
}

.errorMessage
{
    width:300px; 
    text-align: center;
    font-size:14px;
    color:#FF0000
}