#recover-password-dialog
{ 
}

#recover-password-dialog td
{ 
    padding-bottom: 5px;
}

#recover-password-dialog td.title
{ 
    text-align: left;
}

#recover-password-dialog td.buttons-area
{ 
    padding-top: 10px;
    text-align: center;
}

#recover-password-dialog td.error-message
{ 
    width: 100%;
    color:#FF0000;
    text-align: center;
}

#recover-password-dialog .btn
{ 
    margin-right: 20px;
    margin-left: 20px;
    width: 100px;
}

#login, #email
{
    width: 300px;
}