#search-container { 
    width: 100%;
    padding: 0px;
    margin: 0px;
    border: none;
    border-collapse: collapse;
}

#search-container>tr>td
{
    padding: 0;
}

#right-navbar 
{ 
    width: 25%;
    min-width: 330px;
    background: #eee;
    padding: 0px;
    margin: 0px;
    vertical-align: top;
    border-right: 2px #999 solid;
}

#search-result{ 
    vertical-align: top;
    width: 75%;
    padding: 0px;
    margin: 0px;
}

#right-navbar>div
{ 
    overflow: hidden;
}

#search-result>div
{ 
    vertical-align: top;
    overflow: hidden;
}

#right-navbar .group-panel
{
    margin-top: 5px;
    margin-bottom: 25px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 10pt;
}

#right-navbar .group-body
{
    padding: 5px;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: #999;
}

#right-navbar .group-title
{
    color: #000;
    font-family: Verdana,Arial,sans-serif;
    font-size: 11pt;
    font-weight: bold;
    line-height: 30px;
    vertical-align: middle;
}

#file-types,#content-compare-type, #library-selector
{
    width: 100%;
    text-align: center;
}

#library-selector
{
    text-align: left;
    width: 100%;
}

#library-selected-container
{
    color: #222222;
    font-family: Verdana,Arial,sans-serif;
    font-size: 10pt;
    width: 75%;
}

#library-select-container
{
    width: 25%;
    text-align: right;
}

#library-select .ui-button
{
    font-size: 10pt;
}

#condition-type
{ 
    padding: 0;
    height: 100%;
    background: #eee;
    font-size: 10pt;
}

#condition-content-value
{
    width: 100%;
}

#file-types .ui-button 
{
    width: 52px !important; 
    height: 52px !important;
}

.ui-button .ui-icon.button-search-powerpoint 
{
    background-image: url(../images/search/search-powerpoint.png);
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

.ui-button .ui-icon.button-search-word 
{
    background-image: url(../images/search/search-word.png);
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

.ui-button .ui-icon.button-search-excel 
{
    background-image: url(../images/search/search-excel.png);
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

.ui-button .ui-icon.button-search-pdf 
{
    background-image: url(../images/search/search-pdf.png);
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

.ui-button .ui-icon.button-search-video 
{
    background-image: url(../images/search/search-video.png);
    width: 40px;
    height: 40px;
    margin-left: -20px;
    margin-top: -20px;
}

.ui-button.ui-state-active
{
    background: #F7BE81;
}

#content-compare-type .ui-state-active
{
    background: #F7BE81;
}