.viewDialogBody 
{ 
}

.viewDialogTitle
{ 
}

.viewDialogLinkName
{ 
    text-align: left;
    font-family: 'Arial';
    font-size: 16pt;
    font-weight: bold;
}

.viewDialogDescription
{ 
    text-align: left;
    font-family: 'Arial';
    font-size: 12pt;
    color: #C0C0C0;
    font-weight: normal;
}

.viewDialogFormatList
{ 
    display: table;
    margin-left: auto;
    margin-right: auto;
    behavior: url(./css/PIE.htc);
}

.viewDialogFormatListRow
{ 
    display: table-cell;
    white-space:nowrap;
    behavior: url(./css/PIE.htc);
}

.viewDialogFormatItem
{ 
    display:inline;
    vertical-align: middle;
    margin-left: 10px;
    margin-right: 10px;
    behavior: url(./css/PIE.htc);
}

.viewDialogFormatImage
{ 
    border: none;
    cursor: pointer;
    behavior: url(./css/PIE.htc);
}

.viewDialogFormatServiceData
{ 
    display: none;
    visibility: hidden;
    behavior: url(./css/PIE.htc);
}

