.search-side-bar
{
	width: 200px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	border-right: 2px #999 solid;
}

.search-side-bar .logo-list
{
	border: none;
	margin-left: 0;
}

.search-side-bar .logo-list li
{
	margin-top: 10px;
	float: none;
	text-align: center;
}

.search-side-bar .logo-list li.disabled img
{
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.sub-search-conditions-pane
{
	padding: 10px;
}

.sub-search-conditions-pane .row
{
	margin-bottom: 15px;
}

.sub-search-conditions-pane .file-filter-panel .search-option
{
	padding-bottom: 10px;
}

.search-results-data-table-container
{
	margin: 30px;
}

table.search-results-container > tbody > tr > td
{
	vertical-align: top;
}