.user-preferences-editor .row
{
	margin: 0;
}

.user-preferences-editor .header
{
	margin: 0 0 30px;
}

.user-preferences-editor .row .checkbox
{
	margin-top: 0;
}

.user-preferences-editor .buttons-area
{
	margin-top: 30px;
	text-align: center;
}

.user-preferences-editor .buttons-area .btn
{
	width: 100px;
}

.user-preferences-editor .popup-blocker-warning
{
	display: table;
    margin-left: 15px;
    margin-top: 30px;
}

.user-preferences-editor .popup-blocker-warning>div
{
	display: table-cell;
	vertical-align: middle;
}