.shortcuts-search-bar
{
	width: 100%;
}

.shortcuts-search-bar.open
{
	margin-bottom: 5px;
}

.shortcuts-search-bar td
{
	padding-left: 10px;
	padding-right: 10px;
}

.search-bar-editors .row
{
	margin-left: 0;
	margin-right: 0;
}

.shortcuts-search-bar .search-input-container
{
	margin-top: 20px;
}

.tag-condition-selector,
.search-bar-actions
{
	display: none;
}

/*Modals------------------------------------*/
.search-bar-modal .row
{
	margin: 0;
}

.search-bar-modal .header
{
	margin: 0 0 20px;
}

.search-bar-modal .buttons-area
{
	margin-top: 30px;
	text-align: center;
}

.search-bar-modal .buttons-area .btn
{
	width: 100px;
}
/*------------------------------------*/
