/*Footer------------------------------------*/
#content .search-app-footer
{
	width: 100%;
}

#content .search-app-footer .search-app-footer-block
{
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
}

#content .search-app-footer .search-app-footer-block.applied-filters-block
{
	display: table;
	width: 100%;
	padding-left: 30px;
	padding-right: 30px;
	color: #d0d0d0;
}
/*------------------------------------*/

/*Search Filters------------------------------------*/
.search-filters .row
{
	margin: 0;
}

.search-filters .header
{
	margin-top: 0;
	margin-bottom: 20px;
}

.search-filters .buttons-area
{
	margin-top: 30px;
	text-align: center;
}

.search-filters .buttons-area .btn
{
	width: 100px;
}

.search-filters-logo
{
	width: 48px;
	height: 48px;
}

.search-filter-editors .row
{
	margin-left: 0;
	margin-right: 0;
}

.search-filter-editors .search-filter-edit-data-range .row
{
	margin-bottom: 20px;
}

.search-filter-editors .accordion
{
	height: 300px;
	border: 1px solid #adadad;
	background-color: #ffffff;
	overflow: auto;
}

.search-filter-editors .ui-accordion-header
{
	border-left: 0;
	border-right: 0;
	margin-top: 0;
	margin-bottom: 2px;
}

.search-filter-editors .ui-accordion-content
{
	padding-top: 0;
}

.tag-list .group-selector-container
{
	font-weight: bold;
	padding-left: 5px;
}

/*------------------------------------*/

/*Search Results------------------------------------*/
#content .data-table-content-container
{
	margin-top: 10px;
	margin-left: 30px;
	margin-right: 30px;
}

/*------------------------------------*/
