#quizzes-container
{
	width: 100%;
	padding: 0;
	margin: 0;
	border: none;
	border-collapse: collapse;
}

#quizzes-container>tr>td
{
	padding: 0;
}

#quizzes-navigator
{
	width: 15%;
	min-width: 250px;
	margin: 0;
	vertical-align: top;
	border-right: 2px #999 solid;
}

#quizzes-navigator>div
{
	overflow-x: hidden;
	overflow-y: auto;
}

.quizzes-list
{
	padding: 5px 0 0 0;
	margin: 0;
}

#quizzes-navigator>div>.quizzes-list>li
{
	padding: 0 0 5px 0;
}

.quizzes-list li
{
	padding: 0 0 5px 15px;
	margin: 0;
}

.quizzes-list li a
{
	cursor: pointer;
}

.quizzes-list li a
{
	color: #000000;
}

.quizzes-list li.quiz-item a.opened
{
	text-decoration: none;
	background-color: #C6E2FF !important;
}

.quiz-item.passed > a > span
{
	color: darkgreen;
}

.quiz-item.not-passed > a > span
{
	color: darkred;
}

#quiz-panel
{
	width: 100%;
	vertical-align: top;
}

#quiz-panel table
{
	width: 100%;
}

#quiz-panel tr.header.passed
{
	background-color: rgb(223, 240, 216)
}

#quiz-panel tr.header.not-passed
{
	background-color: rgb(242, 222, 222)
}

#quiz-panel td.title
{
	width: 90%;
}

#quiz-panel td.buttons
{
	text-align: right;
	width: 10%;
	padding-right: 5px;
}

#quiz-panel .quiz-data
{
	display: none;
}

.quiz-spash
{
	width: 100%;
	box-sizing: border-box !important;
}

.quiz-spash *
{
	box-sizing: border-box !important;
}

.quiz-spash tr
{
	text-align: center;
}

.quiz-spash tr>td
{
	padding-top: 1em;
	padding-bottom: 1em;
}

.quiz-spash .success
{
	color: green;
}

.quiz-spash .wrong
{
	color: red;
}

.quiz-question
{
	width: 100%;
}

.quiz-question .title
{
	text-align: left;
	width: 75%;
}

.quiz-question .logo
{
	text-align: right;
	width: 25%;
}

.quiz-question .title
{
	text-align: left;
	width: 75%;
}

.quiz-question .question-title
{
	padding-top: 1em;
	padding-bottom: 1em;
}

.quiz-question .prev-question
{
	text-align: left;
	width: 50%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.quiz-question .next-question
{
	text-align: right;
	width: 50%;
	padding-top: 1em;
	padding-bottom: 1em;
}

.quiz-question .answer-selector
{
	text-align: left;
	width: 7%;
	vertical-align: top;
}

.quiz-question .answer-text
{
	text-align: left;
	width: 90%;
	vertical-align: middle;
}

.quiz-question .answer-text .lead
{
	font-size: 19px;
}

.quiz-results
{
	width: 100%;
}