/*Common Header------------------------------------*/
#content .wallbin-header-container
{
	width: 100%;
}

#content .wallbin-header
{
	width: 100%;
}

#content .wallbin-header .wallbin-header-cell
{
	vertical-align: middle;
	border-bottom: 1px #999 solid;
	padding-left: 5px;
}

#content .wallbin-header .wallbin-logo-wrapper
{
	height: 90px;
}

#content .wallbin-header .page-selector-container,
#content .wallbin-header .single-page-header
{
	width: 100%;
	text-align: right;
	padding-bottom: 15px;
	padding-right: 10px;
}

#content .wallbin-header .page-selector-container.page-selector-container-no-logo
{
	text-align: left;
}

#content .wallbin-header .single-page-header.single-page-header-no-logo
{
	text-align: left;
	padding-top: 0;
	padding-bottom: 0;
}

#library-update-stamp
{
	position: fixed;
	top: 48px;
	left: 0;
	width: 130px;
	z-index: 2;
	display: inline-table;
	height: 22px;
}

#library-update-stamp .text
{
	display: table-cell;
	vertical-align: middle;
	text-align: left;
	color: #999;
}
/*------------------------------------*/

/*Tabs Header------------------------------------*/
#content .wallbin-header .page-selector-container .tab-pages
{
	text-align: left;
}

#content .wallbin-header .page-selector-container .tab-pages div,
#content .wallbin-header .page-selector-container .tab-pages span
{
	background-color: #FFF !important;
	border-radius: 0 !important;
}

#content .wallbin-header .page-selector-container .tab-pages div.scroll_tab_inner span.scroll_tab_over,
#content .wallbin-header .page-selector-container .tab-pages div.scroll_tab_inner li.scroll_tab_over
{
	background-color: #CCC !important;
}

#content .wallbin-header .page-selector-container .tab-pages .scroll_tab_left_finisher,
#content .wallbin-header .page-selector-container .tab-pages .scroll_tab_right_finisher
{
	width: 0 !important;
}

#content .wallbin-header .page-selector-container .tab-pages .page-tab-header.selected
{
	background-color: #C6E2FF !important;
}

#content .wallbin-header .page-selector-container .scroll_tabs_theme_light .scroll_tab_left_button span,
#content .wallbin-header .page-selector-container .scroll_tabs_theme_light .scroll_tab_right_button span
{
	width: 100%;
}

#content .wallbin-header .page-selector-container .icomoon
{
	margin-left: 5px;
	margin-right: 5px;
	font-size: 1em;
	vertical-align: middle;
}

#content .wallbin-header .page-selector-container .icomoon-lg
{
	font-size: 1.33333333em;
}

#content .wallbin-header .page-selector-container .icomoon-2x
{
	font-size: 2em;
}

#content .wallbin-header .page-selector-container .icomoon-3x
{
	font-size: 3em;
}

#content .wallbin-header .page-selector-container.icomoon-4x
{
	font-size: 4em;
}
/*------------------------------------*/

/*Combo Header------------------------------------*/
#content .wallbin-header .bootstrap-select
{
	width: 300px;
}

/*------------------------------------*/

/*Content------------------------------------*/
#content .wallbin-container .content-container .page-container
{
	width: 100%;
	display: none;
}

#content .wallbin-container .page-container .content-container
{
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#content .wallbin-container .page-container .content-columns-container
{
    display: table;
	width: 100%;
	height: 100%;
    table-layout: fixed;
}
/*Columns------------------------------------*/
#content .wallbin-container .page-container .header-container
{
	width: 100%;
	display: table;
    table-layout: fixed;
	border-bottom: 1px #999 solid;
}

#content .page-column-outer
{
	display: table-row;
}

#content .page-column
{
	width: 33%;
    display: table-cell;
	border: none;
	vertical-align: top;
}

#content .page-column.column2
{
	width: 34%;
	margin-right: -1px;
}

#content .wallbin-container .page-container .column-header-container
{
	display: table-cell;
	vertical-align: middle;
	width: 33%;
}

#content .wallbin-container .page-container .column-header-container.column-header-container-2
{
	width: 34%;
}

#content .wallbin-container .page-container .column-header-container img
{
	max-width: 100%;
}

#content .wallbin-container .page-container .column-widget
{
	vertical-align: middle;
}

#content .wallbin-container .page-container .column-header
{
	vertical-align: middle;
	padding-left: 5px;
}

#content .page-column .page-column-inner
{
	width: 100%;
}

#content .page-column .folder-body
{
	margin-left: -1px;
}

#content .page-column.column0 .folder-body
{
	margin-left: 0;
}
/*------------------------------------*/

/*Accordion------------------------------------*/
#content .accordion-folder-container
{
	margin: 20px;
	border: 1px solid lightgray;
}

#content .accordion-folder-container .folder-links
{
	display: none;
	border-top: 1px solid lightgray;
}

#content .accordion-folder-container .btn.folder-header
{
	background-color: #fff;
}

#content .accordion-folder-container .folder-header .links-number
{
	color: #AAA;
}
/*------------------------------------*/
/*------------------------------------*/