#content .shortcuts-page-content.landing-page
{
    padding-left: 5px;
    padding-right: 5px;
}

#content .landing-page .landing-url,
#content .landing-page .landing-url:hover,
#content .landing-page .landing-url:link,
#content .landing-page .landing-url:focus
{
    display: block;
    color: inherit;
    text-decoration: inherit;
    outline: none;
}

#content .shortcuts-page-content.landing-page .shortcuts-link.disabled
{
    cursor: not-allowed;
}

#content .shortcuts-page-content.landing-page .scroll-stripe a.item
{
    text-decoration: inherit;
    outline: none;
    color: inherit;
    display: inline;
    -moz-user-select: none;
}

#content .shortcuts-page-content.landing-page .scroll-stripe div.scroll_tab_inner > span.tab_selected,
#content .shortcuts-page-content.landing-page .scroll-stripe div.scroll_tab_inner li.tab_selected
{
    background-color: #ffffff !important;
}

#content .shortcuts-page-content.landing-page .scroll-stripe div.scroll_tab_inner > span.tab_selected:hover,
#content .shortcuts-page-content.landing-page .scroll-stripe div.scroll_tab_inner li.tab_selected:hover
{
    background-color: #aaaaaa !important;
}

#content .shortcuts-page-content.landing-page .form-control
{
    height: 42px;
}

#content .shortcuts-page-content.landing-page .btn
{
    line-height: 2;
}

#content .shortcuts-page-content.landing-page .masonry-container
{
    padding: 0;
}

#content .shortcuts-page-content.landing-page .cbp-l-filters-buttonCenter
{
    text-align: left;
}