AddDefaultCharset UTF-8

AddType text/x-component .htc
AddType video/ogg .ogv
AddType video/mp4 .mp4
AddType video/mp4 .mov
AddType video/webm .webm

RewriteEngine on

# if a directory or a file exists, use it directly
# otherwise forward it to index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . index.php

RewriteCond %{HTTP_REFERER} !^http://(www\.)?localhost/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?isalesdepot.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?wplgipad.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?raycomsales.com/.*$ [NC]
RewriteCond %{HTTP_REFERER} !^http://(www\.)?wuddupdog.com/.*$ [NC]
RewriteRule .(gif|png|jpeg|jpg)$ – [F]
#pdf|ppt|pptx|doc|docx|xls|xlsx|mp4|ogv|wmv

#XSendFile on


