#content .qpage-header
{
	display: table-row;
}

#content .qpage-header > div
{
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
	border-bottom: 1px #999 solid;
}

#content .qpage-header .email
{
	width: 100%;
	text-align: right;
}

#content .qpage-header .email-description
{
	line-height: 2.5em;
}

#page-title
{
	margin-bottom: 20px;
}

#page-header
{
	margin-bottom: 30px;
}

#page-footer
{
	margin-top: 30px;
}

#page-links-container
{
	overflow: auto;
	margin-left: 10px;
}

