<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesDepot.Services.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SalesDepot.Services.Properties.Settings>
            <setting name="SalesDepot_Services_ContentManagmentService_ContentControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/content/quote?ws=1</value>
            </setting>
            <setting name="SalesDepot_Services_IPadAdminService_AdminControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/admin/quote?ws=1</value>
            </setting>
            <setting name="SalesDepot_Services_StatisticService_StatisticControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/statistic/quote?ws=1</value>
            </setting>
            <setting name="SalesDepot_Services_TickerService_TickerControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/ticker/quote?ws=1</value>
            </setting>
            <setting name="SalesDepot_Services_InactiveUsersService_InactiveUsersControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/inactiveusers/quote?ws=1</value>
            </setting>
            <setting name="SalesDepot_Services_QBuilderService_QbuilderControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/qbuilder/quote?ws=1</value>
            </setting>
        </SalesDepot.Services.Properties.Settings>
    </applicationSettings>
</configuration>