#page-content-container
{
    width: 100%;
}
.page-column
{
    width: 33%;
    float:left;
    vertical-align: top;
}
#column2
{
    width: 34%;
}

.folder-container
{
    width: 90%;
    margin: 20px;
    border: 1px solid lightgray;
    -webkit-box-shadow: #000000 0 0 3;
    -moz-box-shadow: #000000 0 0 3;
    box-shadow: #000000 0 0 3;
}

.folder-links
{
    display: none;
    border-top: 1px solid lightgray;
    -webkit-box-shadow: #000000 0 0 3;
    -moz-box-shadow: #000000 0 0 3;
    box-shadow: #000000 0 0 3;
}

.folder-header .links-number
{
    color: #AAA;
}