.banner-container{
    display: table;
	width: 100%;
}

.banner-image{
    vertical-align: middle;
    display: table-cell;
}

.banner-text,.banner-text-link{
    vertical-align: middle;
    display: table-cell;
    padding-left: 5px;
}

.banner-text-link{
    white-space: nowrap;
}