
#data-table-content tr .clickable-area
{
	cursor: pointer;
}

#data-table-content tr .rate-image-container
{
    cursor: pointer;
}

#data-table-content tr .rate-image-container img
{
	height: 16px;
}

#data-table-content tr a.link-content,
#data-table-content tr a.link-content:hover,
#data-table-content tr a.link-content:visited,
#data-table-content tr a.link-content:link,
#data-table-content tr a.link-content:active
{
	text-decoration: none;
	outline : none;
	color: #000000;
}

.data-table-content-container table tr .centered
{
	text-align: center;
}

#data-table-content_info, #data-table-content_paginate
{
	margin-top: 10px;
}