.link-data-table tr .clickable-area
{
	cursor: pointer;
}

.link-data-table tr .rate-image-container
{
    cursor: pointer;
}

.link-data-table tr .rate-image-container img
{
	height: 16px;
}

.link-data-table tr a.link-content,
.link-data-table tr a.link-content:hover,
.link-data-table tr a.link-content:visited,
.link-data-table tr a.link-content:link,
.link-data-table tr a.link-content:active
{
	text-decoration: none;
	outline : none;
	color: #000000;
}

.link-data-table tr .centered
{
	text-align: center;
}

.link-data-table tr .link-delete-button
{
	cursor: pointer;
}

.dataTables_info,
.dataTables_paginate
{
	margin-top: 10px !important;
}