.search-results-container
{
	margin-left: 30px;
	margin-right: 30px;
}

#search-results tr
{
	cursor: pointer;
}

.search-results-container table tr .centered
{
	text-align: center;
}

#search-results_info, #search-results_paginate
{
	margin-top: 10px;
}