#content
{
	width: 100%;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

#content .padding
{
	padding: 30px;
}

#content-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	opacity: 0.8;
	background: #eee;
}

#view-dialog-wrapper, #view-dialog-link
{
	display: none;
}

span.glyphicon
{
	margin-right: 3px;
}

select
{
	border-radius: 4px;
	border: 1px solid #CCC;
	padding: 4px 6px;
	cursor: pointer;
	height: 30px;
	color: #555;
}

div.checkbox > label > input[type=checkbox]
{
	float: left !important;
	margin-right: 3px;
}

form.form-horizontal, form.form-horizontal *
{
	-moz-box-sizing: border-box !important;
	-webkit-box-sizing: border-box !important;
	-safari-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

button.active
{
	background-color: hsl(36, 100%, 75%) !important;
}

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button
{
	font-family: inherit !important;
	font-size: 14px;
}

.input-group.has-error input
{
	border-color: #B94A48;
	color: #B94A48;
}

.input-group.has-error .input-group-btn button
{
	color: #B94A48;
	background-color: #F2DEDE;
	border-color: #B94A48;
}

.tab-content .form-horizontal > .form-group
{
	margin-left: 0;
	margin-right: 0;
	margin-top: 5px;
}

.radio label, .checkbox label
{
	line-height: 20px;
}

.ui-dialog .ui-dialog-titlebar-close
{
	top: 40% !important;
	width: 25px !important;
	height: 26px !important;
}