/*------------------------------------*\
    GENERAL STYLES
\*------------------------------------*/
html, body
{
	height: 100%;
	font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
}

body
{
	color: #737373;
}

.form-control::-webkit-input-placeholder
{
	color: #fff;
}

.form-control::-moz-placeholder
{
	color: #fff;
}

.form-control::-ms-input-placeholder
{
	color: #fff;
}

.form-control.error
{
	border-color: #ff5252;
}

a,
.mdl-button
{
	font-weight: 300;
}

a
{
	color: #ff5252;
}

a:hover, a:focus
{
	color: #ff5252;
	text-decoration: none;
	outline: none;
}

.mdl-button--primary.mdl-button--primary.mdl-button--raised
{
	color: #fff;
	background-color: #ff5252;
}

/* VERTICAL CENTERING */
.vc-parent
{
	width: 100%;
	height: 100%;
	display: table;
}

.vc-child
{
	display: table-cell;
	vertical-align: middle;
}
/*------------------------------------*\
    MAIN AREA
\*------------------------------------*/
#main-area
{
	width: 100%;
	height: 100%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#main-area:before
{
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(34, 34, 34, 0.8);
}

#main-area .content
{
	color: #fff;
}

#main-area .content a.mdl-button
{
	padding: 5px 0;
	height: auto;
	min-width: 150px;
	margin: 0 5px 15px;
}

@media screen and (max-width: 480px)
{
	#main-area
	{
		position: relative;
		height: auto;
		min-height: 100%;
	}
}

/*------------------------------------*\
    Popup Area
\*------------------------------------*/
.popup-area
{
	padding: 0 20px;
}

.popup-area .modal-dialog
{
	margin: 30px auto;
	width: auto;
}

.popup-area button.close
{
	position: absolute;
	top: -10px;
	right: -20px;
	z-index: 39;
	opacity: 1;
	filter: alpha(opacity=100);
	color: #fff;
	font-size: 28px;
	font-weight: 100;
	opacity: 1;
	outline: 0;
}

.modal-dialog .modal-content
{
	background-color: transparent;
}

.modal-dialog .mdl-card
{
	width: auto;
}

.modal-dialog label
{
    font-weight: normal;
}

.modal-dialog .mdl-card__title
{
	padding-top: 0;
}

.modal-dialog .mdl-card__title .modal--logo
{
	display: block;
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 15px;
	border-radius: 2px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12);
}

.modal-dialog .mdl-card__supporting-text
{
	width: 100%;
}

.modal-dialog .error-info p
{
	padding: 10px;
}

.modal-dialog .mdl-card__actions
{
	margin-top: 5px;
}

.modal-dialog .mdl-card__actions a
{
	font-size: 12px;
}

#login-modal .modal-dialog
{
	max-width: 360px;
}

#new-password-modal .modal-dialog
{
	max-width: 360px;
}

#recover-password-modal .modal-dialog
{
	max-width: 360px;
}

#contact-modal .modal-dialog
{
	max-width: 600px;
}

@media screen and (max-width: 480px)
{
	.modal-dialog .mdl-card__actions a
	{
		font-size: 11px;
		padding: 0 10px;
	}
}