#form-login
{
	width: 300px;
	position: absolute;
	top: 100px;
	left: 370px;
}

#form-login td
{
	text-align: center;
	padding-bottom: 10px;
}

#label-remember
{
	display: inline;
}

.error-message
{
	width: 100%;
	color: #FF0000
}

#view-dialog-wrapper
{
	display: none;
}

#content-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	opacity: 0.8;
	background: #eee;
}

.checkbox input[type="checkbox"]
{
	float: none;
	vertical-align: top;
}

.checkbox label
{
	vertical-align: top;
	padding-left: 0;
	display: inherit;
}

.action-link-group
{
	margin-top: 40px;
}

.action-link
{
	text-decoration: none;
	margin-bottom: 10px;
	display: block;
}

.action-link.gray
{
	color: #959595;
}

.disclaimer-text
{
	display: none;
}

#progress-bar
{
	border: 8px solid #f3f3f3;
	border-top: 8px solid #8a8a8a;
	border-radius: 50%;
	position: fixed;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	margin-top: -50px;
	margin-left: -50px;
	z-index: 8060;
	animation: spin 2s linear infinite;
}

@keyframes spin
{
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}