#form-login
{
	width: 300px;
	position: absolute;
	top: 100px;
	left: 370px;
}

#form-login td
{
	text-align: center;
	padding-bottom: 10px;
}

#label-remember
{
	display: inline;
}

.error-message
{
	width: 100%;
	color: #FF0000
}

#view-dialog-wrapper
{
	display: none;
}

#content-overlay
{
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	display: none;
	opacity: 0.8;
	background: #eee;
}

#disclaimer-container
{
	margin-left: -120px;
	margin-right: -120px;
	text-align: justify;
}

.checkbox input[type="checkbox"]
{
	float: none;
	vertical-align: top;
}

.checkbox label
{
	vertical-align: top;
	padding-left: 0;
	display: inherit;
}