.logo-list
{
	width: 100%;
	background: #ffffff;
	border: 1px #aaaaaa solid;
	margin-left: -2px;
	overflow: auto;
	height: 400px;
}

.logo-list ul
{
	width: 100%;
	padding: 0;
	margin: 0;
}

.logo-list li a
{
	color: #000000;
	padding: 2px;
}

.logo-list li a.opened
{
	text-decoration: none;
	background-color: hsl(36, 100%, 75%) !important;
}