body
{
	padding-top: 47px;
}

#main-menu
{
	z-index: 25;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}

#main-menu .cover
{
	background-color: black;
	width: 100%;
	height: 100%;
	display: none;
	position: fixed;
	opacity: 0.7;
	z-index: 100;
}

#main-menu .om-movenext
{
	float: right;
}

#main-menu .om-controlitems
{
	width: 100%;
	margin: auto;
}

#main-menu .om-controlitem
{
	height: 48px;
	cursor: pointer;
	font-size: 25px;
	color: #fff;
	padding-left: 9px;
}

#main-menu .om-controlitem.om-closenav
{
	margin-top: 0;
}

#main-menu .om-ctrlitems
{
	margin: auto;
	padding: 0;
	height: 48px;
	display: inline-block;
	text-align: left;
}

#main-menu .om-ctrlitem
{
	height: 48px;
	width: 48px;
	color: #FFF;
	margin-top: 3px;
	font-size: 25px;
	cursor: pointer;
	float: left;
	opacity: 0.5;
}

#main-menu .menu-icon-holder
{
	padding-top: 5px;
	margin-right: 5px;
}

#main-menu .menu-icon-holder i
{
	font-size: 35px;
	vertical-align: sub;
}

#main-menu .menu-icon-holder img
{
	height: 36px;
}

#main-menu .menu-header .header-text,
#main-menu .menu-header i
{
	display: inline-block;
	margin-right: 10px;
}

#main-menu .tile-bt-extralarge a
{
	display: block;
	padding: 10px;
	width: 100%;
	height: 100%;
}

#main-menu .tile-bt-extralarge.only-text a
{
	display: table-cell;
	vertical-align: middle;
	width: 190px;
	height: 190px;
}

#main-menu .tile-bt-extralarge.only-icon a
{
	display: table-cell;
	vertical-align: middle;
	width: 190px;
	height: 190px;
	padding: 0;
}

#main-menu .tile-bt-extralarge i
{
	font-size: 80px;
	margin: 20px 0;
	display: block;
}

#main-menu .tile-bt-extralarge.only-icon i
{
	font-size: 120px;
	display: inline;
	vertical-align: middle;
	line-height: 170px;
	margin: 0;
}

#main-menu .tile-bt-extralarge.only-icon img
{
	display: inline;
	vertical-align: middle;
	height: inherit;
	width: inherit;
	padding: 0;
	margin: 0;
}

#main-menu .tile-bt-extralarge span
{
	display: block;
	padding: 0;
}

#main-menu .tile-bt-large a
{
	display: table-cell;
	vertical-align: middle;
	padding: 5px;
	width: 190px;
	height: 90px;
	line-height: 1;
}

#main-menu .tile-bt-large.only-icon a
{
	padding: 0;
}

#main-menu .tile-bt-large i
{
	font-size: 42px;
	display: inline;
	vertical-align: middle;
	margin-right: 10px;
}

#main-menu .tile-bt-large.only-icon i
{
	line-height: 90px;
	margin-right: 0;
}

#main-menu .tile-bt-large.only-icon img
{
	display: inline;
	vertical-align: middle;
	height: inherit;
	width: inherit;
	padding: 0;
	margin: 0;
}

#main-menu .tile-bt-large span
{
	display: inline;
	padding: 0;
	vertical-align: middle;
	line-height: 1;
}

#main-menu .tile-bt-large.only-text span
{
	display: block;
}

#main-menu .tile-bt a
{
	display: block;
	width: 100%;
	height: 100%;
	padding: 10px;
}

#main-menu .tile-bt.only-icon a
{
	display: table-cell;
	vertical-align: middle;
	width: 90px;
	height: 90px;
	padding: 0 10px;
}

#main-menu .tile-bt.only-text a
{
	display: table-cell;
	vertical-align: middle;
	width: 90px;
	height: 90px;
}

#main-menu .tile-bt i
{
	font-size: 42px;
	margin: 0;
	display: block;
}

#main-menu .tile-bt.only-icon i
{
	font-size: 64px;
	display: inline;
	vertical-align: middle;
	margin: 0;
}

#main-menu .tile-bt.only-icon img
{
	display: inline;
	vertical-align: middle;
	height: inherit;
	width: inherit;
	max-height: 70px;
	max-width: 70px;
	padding: 0;
	margin: 0;
}

#main-menu .tile-bt span
{
	display: block;
	padding: 0;
}

