.jx-bar 
{
    height:30px;
}

.jx-bar-button li.active {
    background-color: hsl(36, 100%, 75%) !important;
    border-color: #ffcc7f #ffcc7f hsl(36, 100%, 70%);
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}