.jx-bar 
{
    height:30px;
}

.jx-bar-button li.active {
    background-color: #C6E2FF !important;
    border-color: #C6E2FF #C6E2FF #C6E2FF;
    color: #333 !important;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.33);
    -webkit-font-smoothing: antialiased;
}