#content .navigation-panel
{
    vertical-align: top;
}

#content .navigation-panel .control-bar .button
{
    display: block;
    width: 48px;
    outline: none;
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
}

#content .navigation-panel .control-bar .button img,
#content .navigation-panel .control-bar .button svg
{
    height: 32px;
    width: 32px;
}

#content .navigation-panel .navigation-item-list-container
{
    overflow: hidden;
}

#content .navigation-panel .navigation-item-list
{
    overflow-y: auto;
    overflow-x: hidden;
}

#content .navigation-panel li
{
    float: none;
    text-align: center;
}

#content .navigation-panel li a
{
    outline: none;
}

#content .navigation-panel.collapsed li a
{
    padding-left: 0;
    padding-right: 0;
}

#content .navigation-panel li a:focus
{
    background: inherit;
}

#content .navigation-panel li .item-title
{
    text-align: center;
}

#content .navigation-panel.collapsed li .item-title
{
    display: none;
}

#content .navigation-panel.expanded .control-bar .button-expand
{
    display: none;
}

#content .navigation-panel.expanded .navigation-item-list
{
    overflow-y: auto;
}

#content .navigation-panel.expanded .navigation-item-list-container
{
    width: 150px;
}

#content .navigation-panel.expanded .navigation-item-list
{
    width: 150px;
}

#content .navigation-panel.expanded li a
{
    padding-bottom: 30px;
}

#content .navigation-panel.expanded li .item-icon
{
    height: 64px;
}

#content .navigation-panel.expanded li .item-icon.collapsed
{
    display: none;
}

#content .navigation-panel.collapsed .control-bar .button-collapse
{
    display: none;
}

#content .navigation-panel.collapsed .navigation-item-list
{
    overflow-y: scroll;
}

#content .navigation-panel.collapsed .navigation-item-list-container
{
    width: 47px;
}

#content .navigation-panel.collapsed .navigation-item-list
{
    width: 64px;
}

#content .navigation-panel.collapsed li a
{
    padding-bottom: 5px;
}

#content .navigation-panel.collapsed li .item-icon
{
    height: 32px;
}

#content .navigation-panel.collapsed li .item-icon.expanded
{
    display: none;
}

#content .navigation-panel.collapsed li.disabled
{
    cursor: not-allowed;
}


