.search-ribbon-condition-content-container, #search-ribbon-condition-date-container
{
	width: 300px;
	padding-bottom: 5px;
}

.search-filters
{
	padding: 10px 0 0 10px;
	margin-bottom: 20px;
	color: #d0d0d0;
}

.search-filter-header
{
	margin-top: 0;
}

.search-filters-logo
{
	width: 48px;
	height: 48px;
}

.search-filter-editors .row
{
	margin-left: 0;
	margin-right: 0;
}

.search-filter-editors .accordion
{
	height: 300px;
	border: 1px solid #adadad;
	background-color: #ffffff;
	overflow: auto;
}

.search-filter-editors .ui-accordion-header
{
	border-left: 0;
	border-right: 0;
	margin-top: 0;
	margin-bottom: 2px;
}

.search-filter-editors .ui-accordion-content
{
	padding-top: 0;
}

.tag-list .group-selector-container
{
	font-weight: bold;
	padding-left: 5px;
}