#right-navbar
{
	width: 200px;
	padding: 0;
	margin: 0;
	vertical-align: top;
	border-right: 2px #999 solid;
}

#right-navbar .logo-list
{
	border: none;
	margin-left: 0;
}

.sub-search-bar
{
	margin-top: 5px;
	padding-left: 4px;
}

.sub-search-bar img
{
	cursor: pointer;
}

.sub-search-bar img.active
{
	background-color: #c6e2ff;
}

.sub-search-conditions-pane
{
	padding: 10px;
}

.sub-search-conditions-pane .row
{
	margin-bottom: 15px;
}

.sub-search-conditions-pane .file-filter-panel .search-option
{
	padding-bottom: 10px;
}

#right-navbar .logo-list li
{
	margin-top: 10px;
	float: none;
	text-align: center;
}

#right-navbar .logo-list li.disabled img
{
	opacity: 0.4;
	filter: alpha(opacity=40);
}

.shortcuts-search-results-container
{
	margin: 30px;
}