.shortcuts-search-bar
{
	width: 100%;
}

.shortcuts-search-bar.open
{
	margin-bottom: 5px;
}

.shortcuts-search-bar td
{
	padding-left: 10px;
	padding-right: 10px;
}

.search-bar-toggle-section.disabled, .search-bar-toggle-section.disabled + .ribbon-section-sep
{
	display: none;
}

.search-bar-toggle-section.disabled
{
	display: none;
}

.search-bar-toggle-section .ribbon-button
{
	width: 72px;
}

.search-bar-edit-header
{
	margin-top: 0;
}

.search-bar-editors .row
{
	margin-left: 0;
	margin-right: 0;
}
