.shortcuts-search-bar
{
	width: 100%;
}

.shortcuts-search-bar.open
{
	margin-bottom: 35px;
}

.shortcuts-search-bar td
{
	padding-left: 10px;
	padding-right: 10px;
}

.shortcuts-search-bar .file-filter-panel .search-option
{
	padding-left: 50px;
}

.shortcuts-page-content
{
	width: 100%;
}

.shortcuts-page-content .shortcuts-links-grid
{
	width: 94%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
}

#shortcuts-links-carousel-view
{
	padding-top: 15px;
}

.shortcuts-links .service-data, .shortcut-title
{
	display: none;
}

.super-filter-list *
{
	box-sizing: border-box !important;
}