.ribbon-shortcut-custom-logo
{
	cursor: pointer;
}

.shortcuts-page-content
{
	width: 100%;
}

.shortcuts-page-content .shortcuts-links-grid
{
	margin: 20px;
}

.shortcuts-links-carousel-view
{
	padding-top: 15px;
}

.shortcuts-links-carousel-view.mobile
{
	padding-top: 0;
}

.shortcuts-links.cbp-wrapper
{
	overflow: inherit;
}

.shortcuts-links .service-data, .shortcut-title
{
	display: none;
}

.super-filter-list *
{
	box-sizing: border-box !important;
}

.page-type-toggle-section.disabled, .page-type-toggle-section.disabled + .ribbon-section-sep
{
	display: none;
}