.tool-dialog table, table.tool-dialog
{
	width: 100%;
}

.tool-dialog td
{
	height: 40px;
	padding-bottom: 10px;
}

.tool-dialog td.title
{
	text-align: left;
	vertical-align: middle;
}

.tool-dialog .dropdown-menu
{
	padding: 10px;
	text-align: left;
	width: 250px;
}

.tool-dialog .dropdown-menu ul
{
	margin: 0;
}

.tool-dialog .dropdown-menu li
{
	list-style: none;
	padding-bottom: 5px;
}

.tool-dialog textarea
{
	margin: 0;
	resize: none;
}

.error-message
{
	color: #FF0000;
}

.tool-dialog td.error-message
{
	width: 100%;
	text-align: center;
}

.input-append .btn.dropdown-toggle
{
	float: none;
}

div.fancybox-inner
{
	overflow: hidden;
}

.tool-dialog .buttons-area
{
	padding-top: 5px !important;
	text-align: center !important;
}

.tool-dialog .buttons-area .btn
{
	margin-right: 10px;
	margin-left: 10px;
	width: 80px;
}

.tool-dialog .nav-tabs>li>a
{
	color: #666666;
}

.tool-dialog .nav-tabs>li.active>a
{
	color: #000000;
}