.fancybox-wrap.content-boxed, .fancybox-wrap.content-boxed *
{
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	-safari-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.view-dialog-body .title
{
	border-bottom: 2px #999 solid;
}

.view-dialog-body .link-name
{
	text-align: left;
	font-family: 'Arial', serif;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 5px;
}

.view-dialog-body .description
{
	text-align: left;
	font-family: 'Arial', serif;
	font-size: 12pt;
	color: #C0C0C0;
	font-weight: normal;
	margin-bottom: 5px;
}

.view-dialog-body .item-text
{
	text-align: left;
	font-family: 'Arial', serif;
	font-size: 12pt;
	color: #000000;
	font-weight: normal;
}

.view-dialog-body .item-image
{
	padding-right: 5px;
}

.view-dialog-body .warning
{
	text-align: left;
	font-family: 'Arial', serif;
	font-size: 16pt;
	color: red;
	font-weight: bold;
}

.view-dialog-body ul.format-list
{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
	min-width: 450px;
	height: auto;
}

.view-dialog-body ul.format-list li.single-column
{
	margin-bottom: 5px;
	text-align: left;
}

.view-dialog-body div.format-list
{
	width: auto;
	padding-left: 0;
	padding-right: 0;
}

.view-dialog-body div.format-list .row
{
	margin-left: 20px;
	margin-right: 20px;
}

.view-dialog-body div.format-list a.format-item
{
	display: inline-block;
	text-align: center;
	margin-top: 5px;
	margin-bottom: 5px;
}

.view-dialog-body div.format-list img
{
	border: none;
	cursor: pointer;
	height: 84px;
}

.view-dialog-body .service-data
{
	display: none;
}

.tooltip-inner
{
	font-size: 12pt;
	max-width: 140px;
}

#user-link-rate-container
{
	margin-top: 15px;
}

img.total-rate
{
	margin-bottom: 10px;
}

#user-link-rate-container, #user-link-rate-container .row
{
	margin-left: 0;
	margin-right: 0;
}

#user-link-rate-container>div, #user-link-rate-container .row>div
{
	padding-left: 0;
	padding-right: 0;
}