.link-grid-container
{
	overflow-y: auto;
}

.link-grid
{
	padding: 0;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
}

.link-grid td
{
	color: #222222;
	font-size: 10pt;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	text-align: left;
	vertical-align: middle !important;
	padding: 0 !important;
	border: 1px white solid;
	border-right: none;
}

.link-grid tr.even
{
	background: #F8F8F8;
}

.link-grid tr.odd
{
	background: #E5F1F4;
}

.link-grid tr:hover
{
	background: #ECFBD4;
}

.link-grid .delete-link
{
	float: right;
	margin-right: 5px;
}

.link-grid .link-container
{
	display: inline-table;
}

.link-grid .link-container .link-name, .link-grid .link-container .file-name
{
	border: none;
	margin: 0;
	padding: 0;
}

.link-grid .link-container .file-name
{
	color: #b0b0b0;
}

.link-grid td.library-column
{
	width: 55px;
}

.link-grid td.link-type-column
{
	width: 55px;
	text-align: center;
}

.link-grid td.link-name-column
{
}

.link-grid td.link-delete
{
	width: 55px;
	cursor: pointer;
	text-align: center;
}

.link-grid td.link-id-column
{
	display: none;
}