#page-list-buttons
{
	padding-bottom: 5px;
	border-bottom: 1px #999 solid;
}

#page-list-container
{
	overflow-y: auto;
}

#page-list tr
{
	cursor: pointer;
	height: 40px;
}

#page-list td
{
	cursor: pointer;
	height: 40px;
	border: none !important;
}

#page-list tr.selected td.link-delete img,
#page-list tr.selected td.link-clone img,
#page-list tr.selected td.link-up img,
#page-list tr.selected td.link-down img
{
	visibility: visible;
}

#page-list tr td.link-delete img,
#page-list tr td.link-clone img,
#page-list tr td.link-up img,
#page-list tr td.link-down img
{
	visibility: hidden;
}

.delete-pages-list
{
	width: 99%;
	background: #ffffff;
	border: 1px #aaaaaa solid;
	overflow: auto;
	height: 400px;
}

.delete-pages-list li
{
	padding-bottom: 10px;
	padding-left: 5px;
}