#page-list-buttons,
#link-cart-buttons
{
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 30px;
}

#page-list-container
{
	overflow-y: auto;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

#link-cart-grid
{
	padding-left: 10px;
	padding-right: 10px;
}

#page-list .grid
{
	padding: 0;
	margin: 0;
	width: 100%;
	border-collapse: collapse;
	border: 1px #ddd solid;
}

#page-list .grid tr
{
	cursor: pointer;
	height: 40px;
}

#page-list .grid td
{
	cursor: pointer;
	height: 40px;
	color: #222222;
	font-size: 10pt;
	font-family: Verdana, Arial, sans-serif;
	font-weight: normal;
	text-align: left;
	vertical-align: middle !important;
	padding: 0 !important;
	border: none;
	border-right: none;
}

#page-list .grid tr.even
{
	background: #F8F8F8;
}

#page-list .grid tr.odd
{
	background: #E5F1F4;
}

#page-list .grid tr.selected
{
	background: #C6E2FF !important;
}

#page-list .grid tr:hover
{
	background: #ECFBD4;
}

#page-list .grid td.page-delete
{
	width: 36px;
	cursor: pointer;
	text-align: center;
}

#page-list .grid td.page-up
{
	width: 36px;
	cursor: pointer;
	text-align: center;
}

#page-list .grid td.page-down
{
	width: 36px;
	cursor: pointer;
	text-align: center;
}

#page-list .grid td.page-clone
{
	width: 36px;
	cursor: pointer;
	text-align: center;
}

#page-list .grid td.page-id-column
{
	display: none;
}

#page-list .grid tr.selected td.page-delete img,
#page-list .grid tr.selected td.page-clone img,
#page-list .grid tr.selected td.page-up img,
#page-list .grid tr.selected td.page-down img
{
	visibility: visible;
}

#page-list .grid tr td.page-delete img,
#page-list .grid tr td.page-clone img,
#page-list .grid tr td.page-up img,
#page-list .grid tr td.page-down img
{
	visibility: hidden;
}

.delete-pages-list
{
	width: 99%;
	background: #ffffff;
	border: 1px #aaaaaa solid;
	overflow: auto;
	height: 400px;
}

.delete-pages-list li
{
	padding-bottom: 10px;
	padding-left: 5px;
}