#page-content
{
}

#page-content>div
{
	overflow-x: hidden;
	overflow-y: auto;
	padding-top: 5px;
}

#page-content .page-content-grid
{
	width: 100%;
	height: 100%;
}

#page-content .page-content-grid tr.row-header
{
	height: 25%;
}

#page-content .page-content-grid tr.row-body
{
	height: 50%;
	padding-bottom: 10px;
}

#page-content .page-content-grid tr.row-body td
{
	padding-left: 3px;
	padding-right: 3px;
	padding-bottom: 20px;
}

#page-content .page-content-grid tr.row-footer
{
}

#page-content .page-content-grid td
{
	vertical-align: top;
}

#page-content .part-grid
{
	width: 100%;
	height: 100%;
}

#page-content .part-grid td
{
	width: 100%;
}

#page-content .part-grid td.column1
{
	width: 75%;
}

#page-content .part-grid td.column2
{
	width: 25%;
}

#page-content .page-title
{
	margin-top: 2px;
	margin-bottom: 2px;
}

#page-content .create-date
{
	float: right;
	line-height: 30px;
}

#page-content .page-url
{
	margin-top: 2px;
	margin-bottom: 4px;
	font-size: 10pt;
}

#page-content-tabs
{
	background: #eee;
	font-size: 10pt;
}

#page-content-tabs .ui-tabs, #page-content-tabs .ui-tabs-panel
{
	padding: 0;
}

#page-content .edit-field
{
	margin: 0;
}

#page-content .edit-field .editor
{
	padding-left: 0;
	padding-right: 0;
	resize: none;
}

input[readonly]
{
	cursor: auto;
}

#page-content-links-container
{
	width: 100%;
	background: #ffffff;
	overflow-y: auto;
	border: 1px #aaaaaa solid;
	margin-left: -2px;
}

.droppable-hover
{
	border: 2px #df8505 solid !important;
}

#page-content-links-container li a
{
	color: #000000;
}

.ui-widget-content
{
	border: 0;
}

#page-content-tab-security .title
{
	font-size: 18pt;
}

#page-content-expiration-date-container
{
	display: inline;
}

#page-content-expiration-date-container .controls
{
	display: inline;
}

#page-content-tab-security .form-inline
{
	margin-bottom: 5px;
}

#page-content-tab-security .checkbox
{
	 min-height: 30px;
	vertical-align: middle;
}