<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net451" />
  <package id="EO.WebBrowser" version="17.2.92.0" targetFramework="net451" />
  <package id="ImageListView" version="11.0.8" targetFramework="net451" />
  <package id="iTextSharp" version="5.5.13" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net451" />
  <package id="System.Data.SQLite" version="1.0.108.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Core" version="1.0.108.0" targetFramework="net451" />
  <package id="System.Data.SQLite.EF6" version="1.0.108.0" targetFramework="net451" />
  <package id="System.Data.SQLite.Linq" version="1.0.108.0" targetFramework="net451" />
</packages>