#email-page .main-footer .buttons
{
	text-align: center;
}

#email-page .main-footer .buttons .button
{
	width: 80px;
}

#email-page .navbar .ui-state-active a
{
	background-color: #4A87EE;
	border-color: #4A87EE;
	color: #FFFFFF;
}

#email-page .navbar .ui-btn-active
{
	color: #FFFFFF;
}

#email-page .email-tab-content
{
	padding-top: 20px;
}

#email-page .email-tab-content > legend
{
	text-align: left;
}

#email-page .email-tab-content .edit-fields
{
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

#email-page .email-tab-content .edit-field
{
	font-size: 0.9em;
}

#email-page .email-tab-content .edit-field label
{
	text-align: left;
	color: #959595;
	font-size: 0.9em;
}

#email-page .email-tab-content .ui-checkbox label,
#email-page .email-tab-content .ui-radio label
{
	font-size: 0.9em;
}

#email-tab-security
{
	padding-top: 0 !important;
}

#email-tab-security .ui-checkbox label
{
	border-color: transparent !important;
	font-size: inherit !important;
}

#email-tab-security .edit-fields
{
	margin: 15px 0 !important;
}

#email-tab-security .edit-field
{
	padding: 0 !important;
	margin-bottom: 40px;
}

#email-tab-security .edit-field fieldset
{
	margin: 0 !important;
}

#email-tab-security .edit-field label.ios-checkbox
{
	color: #4A87EE !important;
}

#email-tab-logo .qpage-logo
{
	text-align: center;
}

