/*Add Page------------------------------------*/
#favorites-add-page .main-content
{
	padding-top: 20px;
}

#favorites-add-page .main-content > legend
{
	text-align: left;
	margin-left: 10px;
}

#favorites-add-page .main-content .edit-fields
{
	margin-top: 15px !important;
	margin-bottom: 15px !important;
}

#favorites-add-page .main-content .edit-field
{
	font-size: 0.9em;
}

#favorites-add-page .main-content .edit-field label
{
	text-align: left;
	color: #959595;
	font-size: 0.9em;
}

#favorites-add-page .main-footer .buttons
{
	text-align: center;
}

#favorites-add-page .main-footer .buttons .button
{
	width: 80px;
}

#favorites-add-page-select-folder
{
	display: inline-block;
	border-color: #DDD;
}

/*-----------------------------------------*/

/*View page------------------------------------*/
#favorites-view .link .ui-btn-icon-left
{
	padding-left: 5px;
}

#favorites-view .link .top-level
{
	margin-left: 10px;
}

#favorites-view .delete-button
{
	padding-left: 0;
	border: none;
}
/*-----------------------------------------*/