.file-card-body 
{
    margin-top: 20px;
}

.file-card-body .details
{ 
    text-align: left;
    font-family: 'Arial';
    font-size: 11pt;
    font-weight: normal;
    width: 100%;
}

.file-card-body .details td
{ 
    height: 25px;
    vertical-align: middle;
}

.file-card-body .details td.separator
{ 
    border-bottom: 3px black solid;
    height: 10px;
}

.file-card-body .details .title
{ 
    text-align: left;
    font-family: 'Arial';
    font-size: 11pt;
    font-weight: bold;
}