.main-content
{
	text-align: center;
}

.main-content .content-header
{
	width: 100%;
	vertical-align: middle;
	text-decoration: none;
}

.main-content .content-header .title
{
	width: 66%;
	text-align: left;
}

.main-content .content-header .title a
{
	text-decoration: none;
}

.main-content .content-header .title.gray
{
	color: #959595;
	font-size: 0.9em;
	padding-left: 5px;
}

.main-content .content-header .back
{
	text-align: right;
	vertical-align: top;
}

.main-content .content-header .logo
{
	text-align: right;
}

.main-content .content-header .logo img
{
	height: 48px;
}

.main-content .content-header .shortcut-header-logo
{
	text-align: center;
}

.main-content .content-header .shortcut-header-logo img
{
	max-width: 100%;
}

.main-footer .login
{
	color: #959595;
}

.main-footer.ui-footer
{
	padding-left: 0;
}

.main-footer .ui-listview .footer-info
{
	padding: 0;
}

.main-footer .login
{
	padding-left: 0.5em;
}

.main-footer .entities-count
{
	text-align: right;
	padding-right: 20px;
	font-weight: bold;
}

.service-data
{
	display: none;
}

.ui-btn
{
	line-height: normal;
}

.logout-button
{
	color: #FF0000 !important;
}

.ui-listview > li p.user-info
{
	font-size: 0.9em;
}

.collapsible-link .ui-btn-icon-left
{
	padding-left: 5px;
}

