.library-item-container .library-title
{
    vertical-align: middle;
    line-height: 40px;
}

.item-content
{
    display: none;
}

.link-container td
{
    text-align: left;
    vertical-align: middle;
}

.link-container span.file
{
    color: #b0b0b0;
}

#gallery 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#gallery li
{
    float:left;
    width:45%;
    padding: 6px;
}

#gallery img
{
    display: block;
    width: 100%;
    height: auto;
}