#selectors-container
{
    width: 100%;
}

#selectors-container td
{
    text-align: left;
    padding-right: 3%;
    padding-left: 3%;
}

.ui-select .ui-btn
{
    text-align: left;
}

.library-item-container .header-title
{
    vertical-align: middle;
    line-height: 40px;
}

.item-content
{
    display: none;
}

.link-container td
{
    text-align: left;
    vertical-align: middle;
}

.link-container span.name, .link-container span.file
{
    white-space:normal;
    word-wrap: break-word;
}

.link-container .link-details-container
{
    padding-right: 16px;
}

.link-container span.file, .file-size
{
    color: #b0b0b0;
}

li div.warning
{
	text-align: left;
	font-family: 'Arial', serif;
	font-size: 16pt;
	color: red;
	font-weight: bold;
}

#gallery 
{
    list-style: none;
    padding: 0;
    margin: 0;
}

#gallery li
{
    float:left;
    width:46%;
    padding: 2%;
}

#gallery img
{
    display: block;
    width: 100%;
    height: auto;
}