/*Common------------------------------------*/
.link-viewer-page .action span
{
	color: #4A87EE;
	font-style: normal;
	font-weight: normal;
}

.link-viewer-page .slider
{
	position: inherit;
}

.link-viewer-page .slider .slick-dots
{
	position: inherit;
}

.link-viewer-page .slider img,
.link-viewer-page .thumbnail img
{
	max-width: 100%;
}

.link-viewer-page .slick-slide
{
	text-align: center;
}

.link-viewer-page .slider img
{
	display: inline-block;
}

.link-viewer-page .main-footer .link-viewer-info
{
	text-align: right;
	padding-right: 20px;
}
#video-player
{
	background-color: #000000;
}
/*-------------------------------------------*/
/*Gallery------------------------------------*/
#link-viewer-gallery .gallery-items
{
	list-style: none;
	padding: 0;
	margin: 0;
}

#link-viewer-gallery .gallery-items li
{
	float: left;
	width: 46%;
	padding: 2%;
}

#link-viewer-gallery .gallery-items img
{
	display: block;
	width: 100%;
	height: auto;
}

/*------------------------------------*/

/*Link Bundle------------------------------------*/
#link-bundle-viewer .main-content.link-bundle-content .content-header .title.gray
{
	font-size: 1em;
}


#link-bundle-viewer .main-content.link-bundle-content
{
	text-align: left;
}

#link-bundle-viewer .main-content.link-bundle-content .link-bundle-section
{
	margin-top: 20px;
	padding-left: 10px;
}

#link-bundle-viewer .main-content.link-bundle-content .link-bundle-section .link-bundle-item
{
	margin-bottom: 20px;
}
/*------------------------------------*/