.login-content
{
	text-align: center;
}

.login-content .intro-message
{
	padding: 0 20px;
	color: #4A87EE;
	margin-top: 20px;
	margin-bottom: 40px;
}

.login-content .edit-fields
{
	padding-left: 40px;
	padding-right: 40px;
}

.login-content .edit-fields .edit-field-container,
.login-content .edit-fields input[type=text],
.login-content .edit-fields input[type=password],
.login-content .edit-fields .ui-checkbox
{
	margin-top: 20px;
}

.login-content .login-button-container,
.login-content .recover-password-button-container,
.login-content .recover-password-accept-button-container,
.login-content .support-button-container,
.login-content .accept-disclaimer-button-container,
.login-content .back-login-button-container,
.login-content .remember-button-container,
.login-content .switch-version-button-container
{
	margin-top: 30px;
}

.login-content .login-button-container
{
	padding-left: 80px;
	padding-right: 80px;
}

.login-content .remember-button-container
{
	margin-top: 40px;
	text-align: center;
}

.login-content .remember-button-container .ui-checkbox
{
	display: inline-block;
	margin-left: -20px;
}

.login-content .remember-button-container label
{
	border-color: transparent !important;
}

.login-content .recover-password-button-container
{
	padding-left: 70px;
	padding-right: 70px;
}

.login-content .switch-version-button-container .ui-slider-switch
{
	width: 10em;
	font-weight: normal;
}

.login-content .info-text
{
	font-weight: bold;
	line-height: 30px;
}

.login-content input
{
	text-align: center;
}

.error-message
{
	color: #FF0000
}