.search-results-page .content-header .ui-table-columntoggle-btn
{
	float: none;
	text-align: left;
}

.search-results-page .content-data
{
	width: 100%;
	font-size: 0.9em;
}

.search-results-page .content-data table .link-id
{
	display: none;
}

.search-results-page .content-data table .link-name
{
	text-align: left;
	color: #4A87EE;
	text-decoration: underline;
}

.search-results-page .content-data table th span.asc
{
	background: url(../../images/grid/sort-asc.gif) right center no-repeat;
	padding-right: 10px;
}

.search-results-page .content-data table th span.desc
{
	background: url(../../images/grid/sort-desc.gif) right center no-repeat;
	padding-right: 10px;
}