/*Group List------------------------------------*/
.group-menu-item
{
	display: table-cell;
}

.group-menu-item .logo,
.group-menu-item .title
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.group-menu-item i.logo
{
	font-size: 32px;
}

.group-menu-item img.logo
{
	height: 32px;
}
/*------------------------------------*/

/*Group Content------------------------------------*/
#shortcut-group .menu-items .menu-item
{
	margin-top: 20px;
	width: 96px;
	height: 128px;
}

#shortcut-group .menu-items .menu-item .logo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#shortcut-group .menu-items .menu-item i.logo
{
	font-size: 48px;
	height: 48px;
}

#shortcut-group .menu-items .menu-item img.logo
{
	height: 48px;
}

#shortcut-group .menu-items .menu-item .title
{
	font-size: 0.9em;
}

#shortcut-group .menu-items .menu-item i.default-icon
{
	background-color: #cdcdcd;
}

/*------------------------------------*/

/*Bundle Content------------------------------------*/
.shortcuts-link.cbp-item
{
	width: 96px;
	height: 128px;
	text-align: center;
}

.shortcuts-link.cbp-item i.logo
{
	font-size: 48px;
	height: 48px;
}

.shortcuts-link.cbp-item img.logo
{
	height: 48px;
	display: inline;
}

.shortcuts-link.cbp-item .title
{
	font-size: 0.9em;
}

.shortcuts-link.cbp-item i.default-icon
{
	background-color: #cdcdcd;
	display: block;
}
/*------------------------------------*/