/*Group List------------------------------------*/
.group-menu-item
{
	display: table-cell;
}

.group-menu-item .logo,
.group-menu-item .title
{
	display: inline-block;
	vertical-align: middle;
	margin-right: 5px;
}

.group-menu-item i.logo
{
	font-size: 32px;
}

.group-menu-item img.logo
{
	height: 32px;
}
/*------------------------------------*/

/*Group Content------------------------------------*/
#shortcut-group .menu-items .menu-item
{
	margin-top: 20px;
	width: 96px;
	height: 128px;
}

#shortcut-group .menu-items .menu-item .logo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

#shortcut-group .menu-items .menu-item i.logo
{
	font-size: 48px;
}

#shortcut-group .menu-items .menu-item img.logo
{
	height: 48px;
}

#shortcut-group .menu-items .menu-item .title
{
	font-size: 0.9em;
}

/*------------------------------------*/

/*Bundle Content------------------------------------*/
#shortcuts-links
{
	margin-bottom: 15px;
}

#shortcuts-links .cbp-item
{
	margin-top: 20px;
	width: 256px;
	height: 256px;
}

#shortcuts-links .cbp-item .logo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.shortcuts-link
{
	display: block;
	margin-top: 15px;
	text-align: center;
}

.shortcuts-link img
{
	width: 250px;
}

/*------------------------------------*/