#shortcuts-links
{
	margin-bottom: 15px;
}

#shortcuts-links .cbp-item
{
	margin-top: 20px;
	width: 256px;
	height: 256px;
}

#shortcuts-links .cbp-item .logo
{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.shortcuts-link
{
	display: block;
	margin-top: 15px;
	text-align: center;
}

.shortcuts-link img
{
	width: 250px;
}