#library .main-footer .library-action
{
	text-align: center;
	display: none;
}

#library .main-footer .library-action.active-action
{
	text-align: center;
	display: inherit;
}

#library .main-footer .library-action.add-library-page
{
}

#library .main-footer .library-action.delete-library-page a
{
	color: red;
}

.regular-link .ui-btn-icon-left
{
	padding-left: 5px;
}

#library-popup-panel-pages .header a
{
	display: inline-block;
	text-decoration: none;
}

#library-popup-panel-pages .header a img
{
	height: 48px;
	vertical-align: middle;
}

#library-popup-panel-pages .header a span
{
	vertical-align: middle;
	color: #000000;
}

#library-popup-delete-tab-page .warning-text
{
	color: red;
}