<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SalesLibraries.ServiceConnector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <SalesLibraries.ServiceConnector.Properties.Settings>
            <setting name="SalesLibraries_ServiceConnector_AdminService_AdminControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/admin/quote?ws=1</value>
            </setting>
            <setting name="SalesLibraries_ServiceConnector_WallbinContentService_ContentControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/content/quote?ws=1</value>
            </setting>
            <setting name="SalesLibraries_ServiceConnector_FileManagerResourcesService_FileManagerDataControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/fileManagerData/quote?ws=1</value>
            </setting>
            <setting name="SalesLibraries_ServiceConnector_UtilityService_UtilityControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/utility/quote?ws=1</value>
            </setting>
            <setting name="SalesLibraries_ServiceConnector_InactiveUsersService_InactiveUsersControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/inactiveUsers/quote?ws=1</value>
            </setting>
            <setting name="SalesLibraries_ServiceConnector_QBuilderService_QBuilderControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/qBuilder/quote?ws=1</value>
            </setting>
            <setting name="SalesLibraries_ServiceConnector_StatisticService_StatisticControllerService"
                serializeAs="String">
                <value>http://localhost/SalesLibraries/statistic/quote?ws=1</value>
            </setting>
        </SalesLibraries.ServiceConnector.Properties.Settings>
    </applicationSettings>
</configuration>