#page-header-container
{
    width: 100%;
    display: table;    
    behavior: url(./css/PIE.htc);
}

#page-content-container
{
    width: 100%;
}

.page-column{
    width: 33%;
    float:left;
    border:0px solid #fff;
    margin-top:0px;
    margin-left: -1px;
    vertical-align: top;
}

#column2
{
    width: 34%;
    margin-right: -1px;
}

.column-header-container{
    display: table-cell;    
    vertical-align: middle;
    width: 33%;
}

#column-header-container-2{
    width: 34%;
}

.column-widget{
    vertical-align: middle;
}

.column-header{
    vertical-align: middle;
    padding-left: 5px;
}


.folder-body{
    margin-top:-1px;
    border-width:1px;
    border-style: solid;
    min-height:80px;
}

.folder-header-container{
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.folder-widget{
    vertical-align: middle;
}

.folder-header{
    vertical-align: middle;
    padding-left: 5px;
}

.folder-links-scroll-area{
    min-height:160px;
    overflow-x:auto;
}

.folder-links-container{
    margin: 5px;
}

.folder-links-container .link-container{
    vertical-align: middle;
    margin-bottom: 9px;
    min-height: 26px;
    width: 100%;
}

.link-text {
    font-size: 12pt;
    white-space: nowrap;
    line-height: 26px;
}

.link-line-break {
    white-space: nowrap;
}

.link-note{
    font-weight: bold;
}

.widget {
    padding-left: 32px;
    background-position: 0 0;
    background-repeat: no-repeat;
}

.banner-container{
    display: table;
}

.banner-image{
    vertical-align: middle;
    display: table-cell;
}

.banner-text,.banner-text-link{
    vertical-align: middle;
    display: table-cell;
    padding-left: 5px;
}

.banner-text-link{
    white-space: nowrap;
}

.view-dialog-content{
    display: none;
}

.clickable
{
    cursor: pointer;
}