#page-header-container
{
    width: 100%;
    display: table;    
    behavior: url(./css/regular/PIE.htc);
}

#page-content-container
{
    width: 100%;
}

.page-column{
    width: 33%;
    float:left;
    border:0px solid #fff;
    margin-top:0px;
    margin-left: -1px;
    vertical-align: top;
}

#column2
{
    width: 34%;
    margin-right: -1px;
}

.column-header-container{
    display: table-cell;    
    vertical-align: middle;
    width: 33%;
}

#column-header-container-2{
    width: 34%;
}

.column-widget{
    vertical-align: middle;
}

.column-header{
    vertical-align: middle;
    padding-left: 5px;
}