#email-dialog
{ 
}

#email-dialog td
{ 
    padding-bottom: 5px;
}

#email-dialog td.title
{ 
    text-align: left;
}

#email-dialog td.buttons-area
{ 
    padding-top: 10px;
    text-align: center;
}

#email-dialog .email-body-title
{ 
    vertical-align: top;
}

#email-dialog .buttons-area .btn
{ 
    margin-right: 20px;
    margin-left: 20px;
    width: 100px;
}

#email-to, #email-to-copy, #email-from, #email-subject, #email-body
{
    width: 300px;
}

#email-to, #email-to-copy, #email-body
{
    margin: 0px;
    resize: none;
}

#email-dialog .dropdown-menu
{
    padding: 10px;
    text-align: left;
    width: 250px;
}

#email-dialog .dropdown-menu ul
{
    margin: 0px;
}

#email-dialog .dropdown-menu li
{
    list-style: none;
    padding-bottom: 5px;
}