#tool-dialog
{ 
}

#tool-dialog td
{ 
    height: 40px;
    padding-bottom: 15px;
}

#tool-dialog td.title
{ 
    text-align: left;
}

#tool-dialog td.buttons-area
{ 
    padding-top: 10px;
    text-align: center;
}

#tool-dialog .aligned-top
{ 
    vertical-align: top;
}

#tool-dialog .buttons-area .btn
{ 
    margin-right: 20px;
    margin-left: 20px;
    width: 100px;
}

#tool-dialog .dropdown-menu
{
    padding: 10px;
    text-align: left;
    width: 250px;
}

#tool-dialog .dropdown-menu ul
{
    margin: 0;
}

#tool-dialog .dropdown-menu li
{
    list-style: none;
    padding-bottom: 5px;
}

#tool-dialog input[type="text"], #tool-dialog textarea
{
    width: 300px;
}

#tool-dialog textarea
{
    margin: 0;
    resize: none;
}

#tool-dialog td.error-message
{ 
    width: 100%;
    color:#FF0000;
    text-align: center;
}
