.view-dialog-body 
{ 
}

.view-dialog-body .title
{ 
}

.view-dialog-body .link-name
{ 
    text-align: left;
    font-family: 'Arial';
    font-size: 16pt;
    font-weight: bold;
}

.view-dialog-body .description
{ 
    text-align: left;
    font-family: 'Arial';
    font-size: 12pt;
    color: #C0C0C0;
    font-weight: normal;
}

.view-dialog-body .format-list
{ 
    margin-left: auto;
    margin-right: auto;
}

.view-dialog-body .format-list td
{ 
    vertical-align: middle;
    padding-left: 10px;
    padding-right: 10px;    
}

.view-dialog-body .format-list img
{ 

    border: none;
    cursor: pointer;
}

.view-dialog-body .service-data
{ 
    display: none;
}

