.view-dialog-body
{
}

.view-dialog-body .title
{
}

.view-dialog-body .link-name
{
	text-align: left;
	font-family: 'Arial', serif;
	font-size: 16pt;
	font-weight: bold;
}

.view-dialog-body .description
{
	text-align: left;
	font-family: 'Arial', serif;
	font-size: 12pt;
	color: #C0C0C0;
	font-weight: normal;
}

.view-dialog-body .format-list
{
	list-style: none;
	padding: 0;
	margin: 0;
	width: auto;
	min-width: 450px;
	height: auto;
}

.view-dialog-body .format-list li
{
	float: left;
	width: 28%;
	padding: 2%;
	text-align: center;
}

.view-dialog-body .format-list img
{
	border: none;
	cursor: pointer;
}

.view-dialog-body .service-data
{
	display: none;
}

