#content .wallbin-tabs
{
	padding: 0;
	border: none;
	font-size: 10pt;
}

#content .wallbin-tabs .ui-tabs, #content .wallbin-tabs .ui-tabs-panel
{
	padding: 0;
}

#content .wallbin-tab
{
	width: 100%;
	height: 0;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}