/*Common------------------------------------*/
.link-viewer
{
	width: 750px;
}

.link-viewer .row
{
	margin-left: 0;
	margin-right: 0;
}

.link-viewer .row .col
{
	padding: 0;
}

.link-viewer > .tab-content
{
	height: 410px;
}

.link-viewer .file-size
.link-viewer .page-size
{
	color: #c6c6c6;
}

#link-viewer-body-tabs
{
	margin-top: 10px;
}

#link-viewer-body-tabs li a
{
	color: #555;
}

.link-viewer .tab-above-header
{
	display: none;
}

#tab-above-header-preview .header-text,
#tab-above-header-save .header-text,
#tab-above-header-email .header-text
{
	line-height: 34px;
	font-size: 1.5em;
}

.link-viewer .tab-above-header.active
{
	display: inherit;
}

.link-viewer img.total-rate
{
	margin-left: 7px;
	margin-bottom: 7px;
	height: 16px;
}

.fancybox-wrap.content-boxed, .fancybox-wrap.content-boxed *
{
	-moz-box-sizing: content-box !important;
	-webkit-box-sizing: content-box !important;
	box-sizing: content-box !important;
}

.link-viewer .vjs-poster
{
	width: auto;
}

/*------------------------------------*/

/*Buttons------------------------------------*/
.link-viewer .image-button,
.link-viewer .text-button
{
	cursor: pointer;
	padding: 4px;
}

.link-viewer .image-button:hover,
.link-viewer .text-button:hover
{
	background: #c6e2ff;
}

.link-viewer .image-button.disabled:hover,
.link-viewer .text-button.disabled:hover
{
	background: none;
}

.link-viewer .image-button.disabled
{
	cursor: default;
	opacity: 0.4;
}

.link-viewer .text-button.disabled
{
	color: #c6c6c6;
}

.link-viewer .row-buttons .text-button
{
	line-height: 26px;
}

/*------------------------------------*/