.link-viewer-special .title
{
	border-bottom: 2px #999 solid;
}

.link-viewer-special .link-name
{
	text-align: left;
	font-family: 'Arial', serif;
	font-size: 16pt;
	font-weight: bold;
	margin-bottom: 5px;
}

.link-viewer-special .item-text
{
	text-align: left;
	font-family: 'Arial', serif;
	font-size: 12pt;
	color: #000000;
	font-weight: normal;
}

.link-viewer-special .item-image
{
	padding-right: 5px;
}

.link-viewer-special .warning
{
	text-align: left;
	font-family: 'Arial', serif;
	font-size: 16pt;
	color: red;
	font-weight: bold;
}

.link-viewer-special ul.format-list
{
	list-style: none;
	padding: 0;
	margin: 0;
	margin-left: 20px;
	margin-right: 20px;
	width: auto;
	min-width: 450px;
	height: auto;
}

.link-viewer-special ul.format-list li.single-column
{
	margin-bottom: 5px;
	text-align: left;
}