.link-viewer .preview-gallery
{
	margin-top: 15px;
}

.link-viewer .preview-gallery .nav-image-button
{
	margin-top: 130px;
}

.link-viewer .preview-image-container,
.link-viewer .preview-image-container .page-preview-image
{
	height: 310px;
}

.link-viewer .preview-image-container .single-preview-image
{
	max-height: 310px;
	max-width: 99%;
}

.link-viewer .preview-image-container .image-format-helper
{
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.link-viewer .current-slide-info
{
	margin-bottom: 10px;
}

.link-viewer .image-type-toggle.selected
{
	font-weight: bold;
	background: #A7C3E0;
}

.link-viewer .gallery-control-buttons
{
    margin-top: 15px;
}

.link-viewer .gallery-control-buttons .dropdown-button,
.link-viewer .gallery-control-buttons .image-button,
.link-viewer .gallery-control-buttons .text-label,
.link-viewer .gallery-control-buttons .text-button
{
    height: 64px;
}