.link-viewer .action-container .action
{
	margin-bottom: 10px;
}

.link-viewer .action-container .action-logo
{
	height: 64px;
}

.link-viewer .action-container .action-text
{
	line-height: 64px;
	margin-left: 10px;
}