.banner-container
{
    display: table;
    width: 100%;
}

.banner-image
{
    display: table-cell;
    max-width: 100%;
}

.banner-image-top
{
    vertical-align: top;
}

.banner-image-middle
{
    vertical-align: middle;
}

.banner-text
{
    display: table-cell;
    padding-left: 5px;
}

.banner-text-top
{
    vertical-align: top;
}

.banner-text-middle
{
    vertical-align: middle;
}

.banner-text-link-no-wrap
{
    white-space: nowrap;
}

.banner-text-link-wrap
{
    white-space: normal !important;
}