.folder-body
{
	margin-top: -1px;
	border: 1px solid;
	min-height: 80px;
}

.folder-header-container
{
	border-bottom: 1px solid;
	cursor: pointer;
	vertical-align: middle;
}

.folder-header-container img
{
	max-width: 100%;
}

.folder-widget
{
	vertical-align: middle;
}

.folder-header
{
	vertical-align: middle;
	padding-left: 5px;
}

.folder-links-scroll-area
{
	min-height: 160px;
	overflow-x: auto;
}

.folder-links-container
{
	margin: 5px;
}

.folder-links-container .link-container
{
	display: inline-block;
	vertical-align: middle;
	min-height: 32px;
	width: 100%;
}

.folder-links-container .link-container.restricted,
.folder-links-container .link-container.hidden-app-link
{
	display: none;
}

.link-container:hover,
.link-container:visited,
.link-container:link,
.link-container:active
{
    text-decoration: none;
    outline : none;
}

.link-container
{
	cursor: default !important;
}

/*this is legacy block*/
.link-container > div.widget
{
	background: no-repeat;
	padding-left: 32px;
	line-height: 32px;
}

.link-container.clickable > div,
.link-container.url > div,
.link-container.folder-link > div
{
    cursor: pointer !important;
}

.link-container.line-break > div
{
    cursor: default !important;
}

.link-text-container
{
    display: table;
}

.link-text-container-sized
{
    font-size: 12pt;
}

.link-text
{
    display: table-cell;
    vertical-align: middle;
}

.link-text-no-wrap
{
    white-space: nowrap;
}

.link-text-wrap
{
	white-space: normal !important;
}

.link-note
{
	font-weight: bold;
}

.link-widget
{
    display: table-cell;
}

.link-widget-wrap
{
    vertical-align: top;
}

.link-widget-no-wrap
{
    vertical-align: middle;
}

.view-dilog-content
{
	display: none;
}

.folder-link-content
{
	margin-left: 32px;
	margin-right: 5px;
	display: none;
}